<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">
<link rel="stylesheet" href="/themes/<%- page.theme %>/public/css/all.min.css?v=<%- page.ver %>">
<link rel="shortcut icon" href="/themes/<%- page.theme %>/public/favicon.ico?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/<%- page.theme %>/public/css/swiper.css?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/<%- page.theme %>/public/css/main.css?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/<%- page.theme %>/public/css/yds.min.css?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/<%- page.theme %>/public/css/yds-theme.min.css?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/<%- page.theme %>/public/css/icon.min.css?v=<%- page.ver %>">
<%- page.codes.head %>