<!DOCTYPE html>
<html lang="<%- page.language %>"
      prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<head>
    <%- include('includes/head.ejs'); -%>
</head>

<body class="fluid">

<% /* Брендирование страницы (сразу после <body>) */ %>
<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>

<div data-gets="" data-type="pgskin"></div>
<main id="wrapper">
    <header id="header">
        <%- include('includes/header.ejs'); -%>
    </header>
    <div id="wrapper-inner">
        <div class="triggered-overlay"></div>

        <%- include('includes/menu.ejs'); -%>

        <div id="content">
            <% /* Реклама вверху страницы */ %>
            <% if (typeof page.adv === 'object' && page.adv.top) { %>
                <div style="text-align:center;margin:10px auto">
                    <%- page.adv.top %>
                </div>
            <% } %>
            <div class="container">
                <div class="copyright" style="padding: 15px 30px 0 20px;">
                    <% /* H1 тег */ %>
                    <h1 class="page-title"><%- page.h1 %></h1>

                    <% /* Описание сайта */ %>
                    <% if (page.seo) { %>
                        <div class="description-primary" style="text-align:justify;margin:10px auto">
                            <%- page.seo %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="inner-content container">
                <% /* Список категорий (годы, жанры, страны, актеры, режиссеры) */ %>
                <% if (typeof categories === 'object' && categories.length) { %>
                    <% categories.forEach(function (content) { %>
                        <div style="float:left;width:50%;">
                            <div style="margin:10px;padding:0;position:relative">
                                <div class="cinemapress-categories"
                                     style="background-image:url('<%- content.image %>');"></div>
                                <a href="<%- content.url %>"
                                   class="cinemapress-categories-title"><%= content.title %></a>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </div>
    <footer class="footer">
        <%- include('includes/footer.ejs'); -%>
    </footer>
</main>
</body>

</html>