<!DOCTYPE html>
<html lang="<%- page.language %>">

<head>
    <%- include('includes/head.ejs'); -%>
</head>

<body class="fluid">

<% /* Брендирование страницы (сразу после <body>) */ %>
<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>

<div data-gets="" data-type="pgskin"></div>
<main id="wrapper">
    <header id="header">
        <%- include('includes/header.ejs'); -%>
    </header>
    <div id="wrapper-inner">
        <div class="triggered-overlay"></div>

        <%- include('includes/menu.ejs'); -%>

        <div id="content">
            <div class="inner-content container" id="page-series">
                <div id="router-view">
                    <% if (movie.picture) { %>
                        <div class="bg-cover-bg">
                            <img src="<%- movie.picture_min %>" class="lazy" data-src="<%- movie.picture %>" alt="BG">
                        </div>
                    <% } %>
                    <div class="bg-cover-faker">
                        <div data-gets="" data-type="vu"></div>
                        <div class="ui grid">
                            <div class="left floated left aligned nine wide column pb-0">
                                <div class="series-genres pb-0">
                                    <div class="Breadcrumb">
                                        <span>
                                            <a href="/"><%- page.l.home %></a>
                                        </span> &gt;
                                        <% if (movie.genre_url) { %>
                                            <span>
                                                <%- movie.genre_url %>
                                            </span> &gt;
                                        <% } %>
                                        <span><%= movie.title %></span>
                                    </div>
                                </div>
                            </div>
                            <% if (movie.premiere) { %>
                                <div class="right floated right aligned six wide column pb-0">
                                    <div class="media-date">
                                        <svg height="24" viewBox="0 0 24 24" width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                            <path d="M12.5 7h-1.5v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                        </svg>
                                        <span><%- movie.premiere %></span>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="ui grid">
                            <div class="left floated sixteen wide tablet computer column">
                                <a href="<%- movie.url %>">
                                    <h1 class="page-title"><%- page.h1 %></h1>
                                </a>
                            </div>
                            <% if (movie.tags_url) { %>
                                <div class="left floated sixteen wide tablet computer column">
                                    <div class="cat-tags">
                                        <%- movie.tags_url %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div id="series-tabs" class="ui pointing secondary menu">
                            <% /* Ссылка на фильм */ %>
                            <a href="<%- movie.url %>" class="item"><%- page.l.information %></a>
                            <% /* Ссылка на кадры */ %>
                            <% if (page.urls.movies.picture) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>"
                                   class="item"><%- page.l.picture %></a>
                            <% } %>
                            <% /* Ссылка на трейлер */ %>
                            <% if (page.urls.movies.trailer) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"
                                   class="item"><%- page.l.trailer %></a>
                            <% } %>
                            <% /* Ссылка на онлайн */ %>
                            <% if (page.urls.movies.online) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>"
                                   class="item"><%- page.l.online %></a>
                            <% } %>
                            <% /* Ссылка на скачать */ %>
                            <% if (page.urls.movies.download) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>"
                                   class="item active"><%- page.l.download %></a>
                            <% } %>
                        </div>
                        <% /* Реклама над плеером */ %>
                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                            <div style="text-align:center;margin:10px auto;">
                                <%- page.adv.over %>
                            </div>
                        <% } %>
                        <% /* Плеер */ %>
                        <div id="cinemapress-player">
                            <% if (page.player) { %>
                                <%- page.player %>
                            <% } %>
                        </div>
                        <% /* Реклама под плеером */ %>
                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                            <div style="text-align:center;margin:10px auto;">
                                <%- page.adv.under %>
                            </div>
                        <% } %>
                        <br>
                        <div class="ui tab tab-segment active">
                            <div class="ui items">
                                <div class="item" id="series-profile-wrapper">
                                    <a class="ui image" id="series-profile-image-wrapper">
                                        <img class="lazy series-profile-thumb" src="<%- movie.poster_min %>" data-src="<%- movie.poster %>"
                                             alt="<%= movie.title %>" data-cinemapress-poster="<%- movie.poster %>">
                                    </a>
                                    <div class="content" id="series-profile-content-wrapper">
                                        <article class="series-summary">
                                            <div class="series-summary-wrapper">
                                                <p id="tv-series-desc">
                                                    <% /* Описание страницы */ %>
                                                    <% if (page.seo) { %>
                                                        <%- page.seo %>
                                                    <% } %>
                                                </p>
                                                <div class="ui list">
                                                    <% if (movie.countries) { %>
                                                        <div class="item">
                                                        <span class="label"><%- page.l.countries %>:
                                                        </span> <%- movie.countries_url %>
                                                        </div>
                                                    <% } %>
                                                    <% if (movie.genres) { %>
                                                        <div class="item">
                                                        <span class="label"><%- page.l.genres %>:
                                                        </span> <%- movie.genres_url %>
                                                        </div>
                                                    <% } %>
                                                    <% if (movie.directors) { %>
                                                        <div class="item">
                                                        <span class="label"><%- page.l.directors %>:
                                                        </span> <%- movie.directors_url %>
                                                        </div>
                                                    <% } %>
                                                    <% if (movie.actors) { %>
                                                        <div class="item">
                                                        <span class="label"><%- page.l.actors %>:
                                                        </span> <%- movie.actors_url %>
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <% /* Список серий сериала */ %>
                                                <div class="episodesListBlock" style="display:none;margin:10px auto;">
                                                    <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                                                </div>
                                                <div class="media-meta">
                                                    <table class="ui unstackable single line celled table">
                                                        <tbody>
                                                        <tr>
                                                            <% /* Качество */ %>
                                                            <% if (movie.quality) { %>
                                                                <td>
                                                                    <div><%- page.l.quality %></div>
                                                                    <div><%- movie.quality %></div>
                                                                </td>
                                                            <% } %>
                                                            <% /* Перевод */ %>
                                                            <% if (movie.translate) { %>
                                                                <td>
                                                                    <div><%- page.l.translate %></div>
                                                                    <div><%- movie.translate %></div>
                                                                </td>
                                                            <% } %>
                                                            <% /* Общий рейтинг (1-100) и число голосов */ %>
                                                            <% if (movie.vote) { %>
                                                                <td>
                                                                    <div style="color: #4281e4"><%- page.l.rating %></div>
                                                                    <div>
                                                                        <strong><%- movie.rating / 10 %></strong>
                                                                        <small style="color:#666">(<%- movie.vote %> <%- page.l.votes %>)</small>
                                                                    </div>
                                                                </td>
                                                            <% } %>
                                                            <% /* IMDb рейтинг (1-100) и число голосов */ %>
                                                            <% if (movie.imdb_vote) { %>
                                                                <td>
                                                                    <div style="color: #e48e34"><%- page.l.imdb %></div>
                                                                    <div>
                                                                        <strong><%- movie.imdb_rating / 10 %></strong>
                                                                        <small style="color:#666">(<%- movie.imdb_vote %> <%- page.l.votes %>)</small>
                                                                    </div>
                                                                </td>
                                                            <% } %>
                                                            <% /* КиноПоиск рейтинг (1-100) и число голосов */ %>
                                                            <% if (movie.kp_vote) { %>
                                                                <td>
                                                                    <div style="color: #e4ce2e"><%- page.l.kp %></div>
                                                                    <div>
                                                                        <strong><%- movie.kp_rating / 10 %></strong>
                                                                        <small style="color:#666">(<%- movie.kp_vote %> <%- page.l.votes %>)</small>
                                                                    </div>
                                                                </td>
                                                            <% } %>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="common-lists pt-sm">
                                <div class="ui column grid">
                                    <div class="sixteen wide tablet five wide computer column" id="common-cast-list">
                                        <% /* Новости с упоминанием фильма */ %>
                                        <% if (typeof contents === 'object' && contents.length) { %>
                                            <% contents.forEach(function (content) { %>
                                                <div style="float:left;width:100%;">
                                                    <div style="margin:0;padding:10px">
                                                        <a href="<%- content.url %>" class="cinemapress-news lazy" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAQAAABrVzQQAAABLUlEQVR42u3RMQEAAAgDoC251W3hI1SgmfBMpUtHOtKRjnSkIx3pSEc60pGOdKQjHelIl450pCMd6UhHOtKRjnSkIx3pSEc60pEuHelIRzrSkY50pCMd6UhHOtKRjnSkI1060pGOdKQjHelIRzrSkY50pCMd6UhHunSkIx3pSEc60pGOdKQjHelIRzrSkY506dKlIx3pSEc60pGOdKQjHelIRzrSkY50pEtHOtKRjnSkIx3pSEc60pGOdKQjHelIl450pCMd6UhHOtKRjnSkIx3pSEc60pEuHelIRzrSkY50pCMd6UhHOtKRjnSkI1060pGOdKQjHelIRzrSkY50pCMd6UhHunTp0pGOdKQjHelIRzrSkY50pCMd6UhHOtKlIx3pSEc60pGOdKRzawFrr2QBa00SvgAAAABJRU5ErkJggg==');" data-bg="<%- content.image %>">
                                                            <div class="cinemapress-news-title">
                                                                <%= content.title %>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                    <div class="sixteen wide tablet eleven wide computer column">
                                        <% /* Цикл блоков связанных фильмов */ %>
                                        <% if (typeof movies === 'object') { %>
                                            <ul class="dark-segment" style="padding-left: 0;">
                                                <% for (var type in movies) { %>
                                                    <% if (movies.hasOwnProperty(type) && movies[type].length) { %>
                                                        <% movies[type].forEach(function (category) { %>

                                                            <% /* Справа от названия ссылка на случайный фильм из блока */ %>
                                                            <div class="randomMovieRelated">
                                                                <div class="cinemapress-random-related"
                                                                     onclick="window.location.href='<%- (category.url && category.url.indexOf('?') + 1 ? category.url + '&random=' : category.url + '?random=') %><%- Math.random() %>'"
                                                                     title="<%= page.l.random %>">
                                                                    <img src="/themes/<%- page.theme %>/public/images/dice.svg"
                                                                         alt="<%= page.l.random %>">
                                                                </div>
                                                            </div>

                                                            <% /* Название блока */ %>
                                                            <div class="segment-title pt-lg"
                                                                 style="padding-top: 0 !important;padding-bottom: 10px"><%- category.name %></div>

                                                            <ul class="clearfix" id="result_lastEpisodes">
                                                                <% /* Цикл фильмов в блоке */ %>
                                                                <% if (typeof category === 'object' && category.movies && category.movies.length) { %>
                                                                    <% category.movies.forEach(function (movie) { %>
                                                                        <li class="recentMovies segment-poster-sm">
                                                                            <div class="poster poster-xs">
                                                                                <a href="<%- movie.url %>">
                                                                                    <span class="date">
                                                                                        <date class="today"><%- movie.year %></date>
                                                                                    </span>
                                                                                    <div class="poster-subject">
                                                                                        <h2 class="truncate"><%- movie.title %></h2>
                                                                                        <p class="poster-meta">
                                                                                            <% if (movie.genre && movie.country) { %>
                                                                                                <span class="episode-no"><%- movie.genre %>
                                                                                                    · <%- movie.country %></span>
                                                                                            <% } %>
                                                                                        </p>
                                                                                    </div>
                                                                                    <img class="lazy-wide"
                                                                                         alt="<%= movie.title %>"
                                                                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg=="
                                                                                         data-src="<%- movie.poster_min %>">
                                                                                </a>
                                                                            </div>
                                                                        </li>
                                                                    <% }); %>
                                                                <% } %>
                                                            </ul>

                                                        <% }); %>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        <% } %>
                                        <% /* Блок с комментариями */ %>
                                        <%- include('includes/comments.ejs'); -%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <%- include('includes/footer.ejs'); -%>
    </footer>
</main>
</body>

</html>