<!DOCTYPE html>
<html lang="<%- page.language %>">

<head>
    <%- include('includes/head.ejs'); -%>
</head>

<body class="fluid">

<% /* Брендирование страницы (сразу после <body>) */ %>
<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>

<div data-gets="" data-type="pgskin"></div>
<main id="wrapper">
    <header id="header">
        <%- include('includes/header.ejs'); -%>
    </header>
    <div id="wrapper-inner">
        <div class="triggered-overlay"></div>

        <%- include('includes/menu.ejs'); -%>

        <div id="content">
            <div class="inner-content container" id="page-series">
                <div id="router-view">
                    <% if (movie.picture) { %>
                        <div class="bg-cover-bg">
                            <img src="<%- movie.picture %>" alt="BG">
                        </div>
                    <% } %>
                    <div class="bg-cover-faker">
                        <div data-gets="" data-type="vu"></div>
                        <div class="ui grid">
                            <div class="left floated left aligned nine wide column pb-0">
                                <div class="series-genres pb-0">
                                    <div class="Breadcrumb">
                                        <span>
                                            <a href="/"><%- page.l.home %></a>
                                        </span> &gt;
                                        <% if (movie.genre_url) { %>
                                            <span>
                                                <%- movie.genre_url %>
                                            </span> &gt;
                                        <% } %>
                                        <span><%= movie.title %></span>
                                    </div>
                                </div>
                            </div>
                            <% if (movie.premiere) { %>
                                <div class="right floated right aligned six wide column pb-0">
                                    <div class="media-date">
                                        <svg height="24" viewBox="0 0 24 24" width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm.01 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                            <path d="M12.5 7h-1.5v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                        </svg>
                                        <span><%- movie.premiere %></span>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="ui grid">
                            <div class="left floated sixteen wide tablet eight wide computer column">
                                <a href="<%- movie.url %>">
                                    <h1 class="page-title"><%- page.h1 %></h1>
                                </a>
                            </div>
                            <% /* Кнопка «Досмотреть позже» */ %>
                            <div class="right aligned floated sixteen wide tablet eight wide computer column watchLaterBlock"
                                 style="display:none;">
                                <div class="button-group">
                                    <button class="ui secondary button fnc_addFollow"
                                            id="watchLater"><%- page.l.later %></button>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <% /* Реклама над плеером */ %>
                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                            <div style="text-align:center;margin:10px auto;">
                                <%- page.adv.over %>
                            </div>
                        <% } %>
                        <% /* Плеер */ %>
                        <div id="cinemapress-player">
                            <% if (page.player) { %>
                                <%- page.player %>
                            <% } %>
                        </div>
                        <% /* Реклама под плеером */ %>
                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                            <div style="text-align:center;margin:10px auto;">
                                <%- page.adv.under %>
                            </div>
                        <% } %>
                        <br>
                        <div id="series-tabs" class="ui pointing secondary menu">
                            <% /* Ссылка на фильм */ %>
                            <a href="<%- movie.url %>" class="item"><%- page.l.information %></a>
                            <% /* Ссылка на кадры */ %>
                            <% if (page.urls.movies.picture) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>"
                                   class="item"><%- page.l.picture %></a>
                            <% } %>
                            <% /* Ссылка на трейлер */ %>
                            <% if (page.urls.movies.trailer) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"
                                   class="item"><%- page.l.trailer %></a>
                            <% } %>
                            <% /* Ссылка на онлайн */ %>
                            <% if (page.urls.movies.online) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>"
                                   class="item active"><%- page.l.online %></a>
                            <% } %>
                            <% /* Ссылка на скачать */ %>
                            <% if (page.urls.movies.download) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>"
                                   class="item"><%- page.l.download %></a>
                            <% } %>
                        </div>
                        <% if (movie.tags_url) { %>
                            <div class="cat-tags">
                                <%- movie.tags_url %>
                            </div>
                        <% } %>
                        <div class="ui tab tab-segment active" data-tab="first">
                            <div class="ui items">
                                <div class="item" id="series-profile-wrapper">
                                    <a class="ui image" id="series-profile-image-wrapper">
                                        <img class="series-profile-thumb" src="<%- movie.poster %>"
                                             alt="<%= movie.title %>" data-cinemapress-poster="<%- movie.poster %>">
                                    </a>
                                    <div class="content" id="series-profile-content-wrapper">
                                        <article class="series-summary">
                                            <div class="series-summary-wrapper">
                                                <p id="tv-series-desc">
                                                    <% /* Описание страницы */ %>
                                                    <% if (page.seo) { %>
                                                        <%- page.seo %>
                                                    <% } %>
                                                </p>
                                            </div>
                                            <div class="ui list">
                                                <% if (movie.countries) { %>
                                                    <div class="item">
                                                        <span class="label"><%- page.l.countries %>:
                                                        </span> <%- movie.countries %>
                                                    </div>
                                                <% } %>
                                                <% if (movie.genres) { %>
                                                    <div class="item">
                                                        <span class="label"><%- page.l.genres %>:
                                                        </span> <%- movie.genres %>
                                                    </div>
                                                <% } %>
                                                <% if (movie.directors) { %>
                                                    <div class="item">
                                                        <span class="label"><%- page.l.directors %>:
                                                        </span> <%- movie.directors %>
                                                    </div>
                                                <% } %>
                                                <% if (movie.actors) { %>
                                                    <div class="item">
                                                        <span class="label"><%- page.l.actors %>:
                                                        </span> <%- movie.actors %>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <% /* Список серий сериала */ %>
                                            <div class="episodesListBlock" style="display:none;margin:10px auto;">
                                                <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                                            </div>
                                            <div class="media-meta">
                                                <table class="ui unstackable single line celled table">
                                                    <tbody>
                                                    <tr>
                                                        <% /* Качество */ %>
                                                        <% if (movie.quality) { %>
                                                            <td>
                                                                <div><%- page.l.quality %></div>
                                                                <div><%- movie.quality %></div>
                                                            </td>
                                                        <% } %>
                                                        <% /* Перевод */ %>
                                                        <% if (movie.translate) { %>
                                                            <td>
                                                                <div><%- page.l.translate %></div>
                                                                <div><%- movie.translate %></div>
                                                            </td>
                                                        <% } %>
                                                        <% /* Общий рейтинг (1-100) и число голосов */ %>
                                                        <% if (movie.vote) { %>
                                                            <td>
                                                                <div style="color: #42e4d0"><%- page.l.rating %></div>
                                                                <div><strong><%- movie.rating / 10 %></strong>
                                                                    <small>(<%- movie.vote %> <%- page.l.votes %>
                                                                        )</small></div>
                                                            </td>
                                                        <% } %>
                                                        <% /* IMDb рейтинг (1-100) и число голосов */ %>
                                                        <% if (movie.imdb_vote) { %>
                                                            <td>
                                                                <div style="color: #e48e34"><%- page.l.imdb %></div>
                                                                <div><strong><%- movie.imdb_rating / 10 %></strong>
                                                                    <small>(<%- movie.imdb_vote %> <%- page.l.votes %>
                                                                        )</small></div>
                                                            </td>
                                                        <% } %>
                                                        <% /* КиноПоиск рейтинг (1-100) и число голосов */ %>
                                                        <% if (movie.kp_vote) { %>
                                                            <td>
                                                                <div style="color: #e4ce2e"><%- page.l.kp %></div>
                                                                <div><strong><%- movie.kp_rating / 10 %></strong>
                                                                    <small>(<%- movie.kp_vote %> <%- page.l.votes %>
                                                                        )</small></div>
                                                            </td>
                                                        <% } %>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="common-lists pt-sm">
                                <div class="ui column grid">
                                    <div class="sixteen wide tablet five wide computer column" id="common-cast-list">
                                        <% /* Новости с упоминанием фильма */ %>
                                        <% if (typeof contents === 'object' && contents.length) { %>
                                            <% contents.forEach(function (content) { %>
                                                <div style="float:left;width:100%;">
                                                    <div style="margin:0;padding:10px">
                                                        <a href="<%- content.url %>" class="cinemapress-news"
                                                           style="background-image:url(<%- content.image %>);">
                                                            <div class="cinemapress-news-title">
                                                                <%= content.title %>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                    <div class="sixteen wide tablet eleven wide computer column">
                                        <% /* Цикл блоков связанных фильмов */ %>
                                        <% if (typeof movies === 'object') { %>
                                            <ul class="dark-segment" style="padding-left: 0;">
                                                <% for (var type in movies) { %>
                                                    <% if (movies.hasOwnProperty(type) && movies[type].length) { %>
                                                        <% movies[type].forEach(function (category) { %>

                                                            <% /* Справа от названия ссылка на случайный фильм из блока */ %>
                                                            <div class="randomMovieRelated">
                                                                <div class="cinemapress-random-related"
                                                                     onclick="window.location.href='<%- (category.url && category.url.indexOf('?') + 1 ? category.url + '&random=' : category.url + '?random=') %><%- Math.random() %>'"
                                                                     title="<%= page.l.random %>">
                                                                    <img src="/themes/tormund/public/images/dice.svg"
                                                                         alt="<%= page.l.random %>">
                                                                </div>
                                                            </div>

                                                            <% /* Название блока */ %>
                                                            <div class="segment-title pt-lg"
                                                                 style="padding-top: 0 !important;padding-bottom: 10px"><%- category.name %></div>

                                                            <ul class="clearfix" id="result_lastEpisodes">
                                                                <% /* Цикл фильмов в блоке */ %>
                                                                <% if (typeof category === 'object' && category.movies && category.movies.length) { %>
                                                                    <% category.movies.forEach(function (movie) { %>
                                                                        <li class="recentMovies segment-poster-sm">
                                                                            <div class="poster poster-xs">
                                                                                <a href="<%- movie.url %>">
                                                                                    <span class="date">
                                                                                        <date class="today"><%- movie.year %></date>
                                                                                    </span>
                                                                                    <div class="poster-subject">
                                                                                        <h2 class="truncate"><%- movie.title %></h2>
                                                                                        <p class="poster-meta">
                                                                                            <% if (movie.genre && movie.country) { %>
                                                                                                <span class="episode-no"><%- movie.genre %>
                                                                                                    · <%- movie.country %></span>
                                                                                            <% } %>
                                                                                        </p>
                                                                                    </div>
                                                                                    <img class="lazy-wide"
                                                                                         alt="<%= movie.title %>"
                                                                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg=="
                                                                                         data-src="<%- movie.poster_min %>">
                                                                                </a>
                                                                            </div>
                                                                        </li>
                                                                    <% }); %>
                                                                <% } %>
                                                            </ul>

                                                        <% }); %>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        <% } %>
                                        <% /* Блок с комментариями */ %>
                                        <%- include('includes/comments.ejs'); -%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <%- include('includes/footer.ejs'); -%>
    </footer>
</main>
<svg style="display: none;">
    <symbol id="icon-home">
        <path d="M13 18h3V8L8.696 2.033 2 8v10h3v-5l1-1h6l1 1v5zm-1 2l-1-1v-5H7v5l-1 1H1l-1-1V7.826c0-.249.106-.485.291-.65L8.117.219a.873.873 0 0 1 1.157 0l7.825 6.957c.186.165.901.575.901.824v11l-1 1h-5z"></path>
    </symbol>
    <symbol id="icon-calendar">
        <path d="M.834 19A.833.833 0 0 1 0 18.167V6.5c0-.46.373-.833.834-.833C1.294 5.667 2 5.54 2 6v11h16V6c0-.46.706-.333 1.167-.333.46 0 .833.373.833.833v11.667c0 .46-.372.833-.833.833H.834z"></path>
        <path d="M2 6h16V3H2v3zm0 2H0V1.5C0 1.04 1 1 1 1h18s1 .04 1 .5V8H2z"></path>
        <path d="M14 4V0h2v4h-2zM9 4V0h2v4M4 4V0h2v4"></path>
    </symbol>
    <symbol id="icon-comment">
        <path d="M2 14h5l2.91 3.635L13 14h5V2H2v12zm7.2 5.66L6 16H1l-1-1V1c0-.502.407-1 .91-1h18C19.41 0 20 .498 20 1v14l-1 1h-5l-3.38 3.66a.912.912 0 0 1-1.42 0zM15 7H5V5h10M5 11V9h7v2H5z"></path>
    </symbol>
    <symbol id="icon-user-check">
        <path d="M8.898 12.493c-2.406.003-4.543.554-5.913 1.016-.718.243-1.2.921-1.2 1.688v2.649H8.03v1.785H0v-4.434c0-1.532.97-2.89 2.414-3.377.834-.282 1.93-.594 3.196-.816C4.358 9.76 3.57 7.924 3.57 6.246v-.892A5.36 5.36 0 0 1 8.923 0a5.36 5.36 0 0 1 5.354 5.354v.892c0 2.889-2.339 6.247-5.354 6.247h-.025zm5.379 8.4l-3.046-3.047 1.26-1.262 1.786 1.784 4.46-4.46L20 15.168l-5.723 5.723zM8.923 1.784a3.573 3.573 0 0 0-3.569 3.569v.892c0 2.009 1.647 4.462 3.569 4.462s3.569-2.453 3.569-4.462v-.892a3.573 3.573 0 0 0-3.569-3.57"></path>
    </symbol>
    <symbol id="icon-history">
        <path d="M3.79 4.668C5.29 2.892 7.54 1.818 10 1.818c4.498 0 8.182 3.684 8.182 8.182S14.498 18.182 10 18.182 1.818 14.498 1.818 10A.91.91 0 0 0 0 10c0 5.502 4.498 10 10 10s10-4.498 10-10S15.502 0 10 0C7.006 0 4.257 1.307 2.418 3.475l-.373-2.2a.91.91 0 1 0-1.792.304l.758 4.47a.913.913 0 0 0 .765.76.922.922 0 0 0 .296-.005l4.47-.759a.91.91 0 1 0-.303-1.792l-2.448.415zm4.585 8.435A.709.709 0 0 1 8 12.478V6.81a.71.71 0 0 1 1.102-.59l4.252 2.835a.707.707 0 0 1 0 1.18l-4.252 2.835a.71.71 0 0 1-.727.034z"></path>
    </symbol>
    <symbol id="icon-search">
        <path d="M13.4 14c-.2 0-.3-.1-.4-.2l-3.4-3.4c-.2-.2-.2-.6 0-.9s.6-.2.9 0l3.4 3.4c.2.2.2.6 0 .9-.2.1-.4.2-.5.2zM6.1 12.2c-3.4 0-6.1-2.8-6.1-6.1s2.7-6.1 6.1-6.1 6.1 2.7 6.1 6.1-2.8 6.1-6.1 6.1zm0-11c-2.7 0-4.9 2.2-4.9 4.9s2.2 4.9 4.9 4.9 4.9-2.2 4.9-4.9-2.2-4.9-4.9-4.9z"></path>
    </symbol>
    <symbol id="icon-discover">
        <path d="M3.9 17.7c-.3 0-.6-.1-.7-.4-.2-.4-.1-.9.3-1.1.4-.2.7-.5.8-.7.4-.6.6-1.5 0-2.4l-.6-.7c-.6-.7-1.2-1.4-1.2-2.2 0-1.1 1.1-1.6 2-2.1l1.5-1.1c.3-.4 0-1.6-.5-2.4-.3-.6-.7-1-1.2-1.4-.4-.3-.5-.8-.2-1.2.3-.4.8-.5 1.2-.2.7.6 1.2 1.2 1.7 2 .3.6 1.4 2.7.3 4.2-.5.6-1.3 1.1-2 1.4-.4.2-.9.5-1.1.6.1.3.5.8.8 1.1.3.3.5.6.7.9.9 1.3.9 2.8 0 4.2-.3.5-.7.9-1.4 1.3-.1.1-.2.2-.4.2zM12.3 6.7c-1 0-1.4-.8-1.8-1.4-.1-.2-.2-.4-.4-.6-.1-.3-.3-.5-.5-.8-.6-.7-1.3-1.4-1.3-2.2 0-.4 0-.7.1-1.1.2-.5.7-.7 1.1-.6.5.2.7.7.5 1.1v.6c0 .2.6.8.8 1.2.3.3.5.6.7.9l.5.6c.1.2.3.6.4.6h.1c.4 0 2.7-.6 4.3-1.4.4-.2.9-.1 1.1.4.2.4.1.9-.4 1.1-1.8 1-4.5 1.6-5.1 1.6h-.1zM10 20c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10-4.5 10-10 10zm0-18.3c-4.6 0-8.3 3.7-8.3 8.3 0 4.6 3.7 8.3 8.3 8.3 4.6 0 8.3-3.7 8.3-8.3 0-4.6-3.7-8.3-8.3-8.3zM11.3 16.8c-.3 0-.6 0-.8-.1-1.5-.7-1.4-1.8-1.3-3 .1-.7.1-1.6 0-2.9-.1-.7.2-1.5.7-2.1.7-.8 1.9-1.3 3-1.3 2.1 0 3.7 1.5 3.7 3.3 0 2-1.6 4.2-3.2 5.2-.7.6-1.4.9-2.1.9zm1.6-7.7c-.7 0-1.4.3-1.8.8-.2.2-.3.5-.3.8.2 1.4.1 2.4 0 3.2-.1 1.1-.1 1.1.3 1.2.2.1.7 0 1.4-.5 1.2-.8 2.4-2.5 2.4-3.8.1-1-.8-1.7-2-1.7z"></path>
    </symbol>
    <symbol id="icon-film" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
        <rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect>
        <line x1="7" y1="2" x2="7" y2="22"></line>
        <line x1="17" y1="2" x2="17" y2="22"></line>
        <line x1="2" y1="12" x2="22" y2="12"></line>
        <line x1="2" y1="7" x2="7" y2="7"></line>
        <line x1="2" y1="17" x2="7" y2="17"></line>
        <line x1="17" y1="17" x2="22" y2="17"></line>
        <line x1="17" y1="7" x2="22" y2="7"></line>
    </symbol>
    <symbol id="icon-filter">
        <path d="M3.3 9.2c-.5 0-.8-.4-.8-.8v-7.6c0-.4.4-.8.8-.8s.8.4.8.8v7.5c.1.5-.3.9-.8.9zM3.3 20c-.5 0-.8-.4-.8-.8v-2.5c0-.5.4-.8.8-.8s.8.4.8.8v2.5c.1.4-.3.8-.8.8zM10 2.5c-.5 0-.8-.4-.8-.8v-.9c0-.4.3-.8.8-.8s.8.4.8.8v.8c0 .5-.3.9-.8.9zM10 20c-.5 0-.8-.4-.8-.8v-9.2c0-.5.4-.8.8-.8.5 0 .8.4.8.8v9.2c0 .4-.3.8-.8.8zM16.7 9.2c-.5 0-.8-.4-.8-.8v-7.6c0-.5.4-.8.8-.8.5 0 .8.4.8.8v7.5c0 .5-.4.9-.8.9zM16.7 20c-.5 0-.8-.4-.8-.8v-2.5c0-.5.4-.8.8-.8.5 0 .8.4.8.8v2.5c0 .4-.4.8-.8.8zM3.3 17.5c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3 3.3 1.5 3.3 3.3-1.4 3.3-3.3 3.3zm0-5c-.9 0-1.7.7-1.7 1.7 0 .9.7 1.7 1.7 1.7s1.7-.8 1.7-1.7c0-1-.7-1.7-1.7-1.7zM10 10.8c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3c1.8 0 3.3 1.5 3.3 3.3s-1.5 3.3-3.3 3.3zm0-5c-.9 0-1.7.7-1.7 1.7s.8 1.7 1.7 1.7c.9 0 1.7-.7 1.7-1.7s-.8-1.7-1.7-1.7zM16.7 17.5c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3 3.3 1.5 3.3 3.3-1.5 3.3-3.3 3.3zm0-5c-.9 0-1.7.7-1.7 1.7 0 .9.7 1.7 1.7 1.7.9 0 1.7-.7 1.7-1.7-.1-1-.8-1.7-1.7-1.7z"></path>
    </symbol>
    <symbol id="icon-library">
        <path d="M9.6 19.1h-8.7c-.5 0-.9-.4-.9-.9v-3.5c0-1.5.9-2.8 2.4-3.3s3.8-1.1 6.3-1.1c.5 0 .9.4.9.9s-.4.9-.9.9c-2.4 0-4.4.5-5.8 1-.7.2-1.2.9-1.2 1.6v2.6h7.8c.5 0 .9.4.9.9s-.4.9-.8.9zM8.7 12.2c-2.9 0-5.2-3.3-5.2-6.1v-.9c0-2.9 2.3-5.2 5.2-5.2s5.2 2.3 5.2 5.2v.9c0 2.8-2.3 6.1-5.2 6.1zm0-10.5c-1.9 0-3.5 1.6-3.5 3.5v.9c0 2 1.6 4.3 3.5 4.3s3.5-2.4 3.5-4.3v-.9c0-1.9-1.6-3.5-3.5-3.5zM15.7 10.4l1.3 2.8 3 .4-2.2 2.1.5 3-2.6-1.4-2.7 1.4.5-3-2.2-2.1 3-.4z"></path>
    </symbol>
    <symbol id="icon-trending">
        <path d="M10.9 14.9c-.2 0-.5-.1-.6-.3l-4.8-4.8-3.9 3.9c-.4.4-.9.4-1.3 0s-.4-.9 0-1.3l4.5-4.5c.3-.3.9-.3 1.3 0l4.8 4.8 7.5-8.4c.3-.4.9-.4 1.3-.1s.4.9.1 1.3l-8.2 9.1c-.2.2-.4.3-.7.3zM19.1 12.2c-.5 0-.9-.4-.9-.9v-5.5h-5.5c-.5 0-.9-.4-.9-.9s.4-.9.9-.9h6.4c.5 0 .9.4.9.9v6.4c0 .5-.4.9-.9.9z"></path>
    </symbol>
    <symbol id="icon-activity">
        <path d="M12.5 16.3c-.3 0-.6-.2-.8-.5l-4.2-9.9-1.7 4c-.1.3-.4.5-.8.5h-4.2c-.4.1-.8-.3-.8-.7s.4-.8.8-.8h3.6l2.3-5.3c.2-.4.5-.6.8-.6s.6.2.8.5l4.2 9.9 1.7-4c.2-.4.5-.6.8-.6h4.2c.5 0 .8.4.8.8s-.4.8-.8.8h-3.6l-2.3 5.3c-.2.4-.5.6-.8.6z"></path>
    </symbol>
    <symbol id="icon-collections">
        <path d="M19.2 8.7h-18.4c-.4 0-.8-.4-.8-.9v-5c0-.4.4-.8.8-.8h18.3c.5 0 .9.4.9.8v5c0 .5-.4.9-.8.9zm-17.5-1.7h16.7v-3.3h-16.7v3.3zM19.2 13.7h-18.4c-.5 0-.8-.4-.8-.8 0-.5.4-.9.8-.9h18.3c.5 0 .8.4.8.8.1.5-.3.9-.7.9zM19.2 18.7h-18.4c-.5 0-.8-.4-.8-.8 0-.5.4-.9.8-.9h18.3c.5 0 .8.4.8.8.1.5-.3.9-.7.9z"></path>
    </symbol>
    <symbol id="icon-watch-later">
        <path d="M9.2.8h1.7v3.3h-1.7zM15.8 9.2h3.3v1.7h-3.3zM9.2 15.8h1.7v3.3h-1.7zM.8 9.2h3.3v1.7h-3.3zM10 20c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10-4.5 10-10 10zm0-18.3c-4.6 0-8.3 3.7-8.3 8.3 0 4.6 3.7 8.3 8.3 8.3 4.6 0 8.3-3.7 8.3-8.3 0-4.6-3.7-8.3-8.3-8.3zM14.2 10.8h-4.6l-4.1-6 1.4-1 3.5 5.4h3.8z"></path>
    </symbol>
    <symbol id="icon-more">
        <circle cx="11" cy="2" r="2"></circle>
        <circle cx="2" cy="2" r="2"></circle>
        <circle cx="20" cy="2" r="2"></circle>
    </symbol>
    <symbol id="icon-arrow-down">
        <path d="M5 5a.593.593 0 0 1-.387-.143L0 .903.774 0 5 3.622 9.226 0 10 .903 5.387 4.857A.593.593 0 0 1 5 5"></path>
    </symbol>
    <symbol id="icon-arrow-left">
        <path d="M.5 5.5c0-.138.048-.275.143-.387L4.597.5l.903.774L1.878 5.5 5.5 9.726l-.903.774L.643 5.887A.593.593 0 0 1 .5 5.5"></path>
    </symbol>
    <symbol id="icon-arrow-right">
        <path d="M5.5 5.5a.593.593 0 0 1-.143.387L1.403 10.5.5 9.726 4.122 5.5.5 1.274 1.403.5l3.954 4.613c.095.112.143.25.143.387"></path>
    </symbol>
    <symbol id="icon-thumbs-up">
        <path d="M7.301 4.875h3.488c.65 0 1.298.244 1.704.813.406.406.568 1.056.487 1.706l-.65 3.737C12.169 12.187 11.277 13 10.223 13H3V6.5L5.192.406c0-.244.243-.406.487-.406C6.652 0 7.3.406 7.3 1.625v3.25zM0 6h2v7H0V6z"></path>
    </symbol>
    <symbol id="icon-thumbs-down">
        <path d="M5.699 8.125H2.21c-.65 0-1.298-.244-1.704-.813C.101 6.907-.061 6.256.02 5.607L.67 1.87C.831.813 1.723 0 2.777 0H10v6.5l-2.192 6.094c0 .244-.243.406-.487.406-.973 0-1.622-.406-1.622-1.625v-3.25zM13 7h-2V0h2v7z"></path>
    </symbol>
    <symbol id="icon-star">
        <path d="M12.3 4.1l-3.5-.5-1.6-3.2c-.2-.5-1.2-.5-1.4 0l-1.6 3.2-3.5.5c-.7.1-.9.9-.5 1.4l2.6 2.5-.6 3.5c-.1.7.6 1.2 1.2.9l3.1-1.6 3.1 1.6c.6.3 1.3-.2 1.2-.9l-.6-3.5 2.5-2.5c.5-.5.3-1.3-.4-1.4z"></path>
    </symbol>
    <symbol id="icon-facebook">
        <path d="M5.393 16V8.702h2.45l.367-2.845H5.393V4.041c0-.823.229-1.384 1.41-1.384l1.506-.001V.112A20.157 20.157 0 0 0 6.114 0C3.943 0 2.456 1.325 2.456 3.76v2.097H0v2.845h2.456V16h2.937z"></path>
    </symbol>
    <symbol id="icon-twitter">
        <path d="M15.996 1.539a6.514 6.514 0 0 1-1.885.516A3.294 3.294 0 0 0 15.555.24a6.572 6.572 0 0 1-2.084.796A3.28 3.28 0 0 0 11.074 0a3.28 3.28 0 0 0-3.196 4.03A9.319 9.319 0 0 1 1.113.6a3.282 3.282 0 0 0 1.016 4.382 3.272 3.272 0 0 1-1.486-.41l-.001.041a3.284 3.284 0 0 0 2.632 3.218 3.303 3.303 0 0 1-1.481.057 3.286 3.286 0 0 0 3.065 2.279A6.583 6.583 0 0 1 0 11.527 9.296 9.296 0 0 0 5.03 13c6.037 0 9.338-5 9.338-9.338 0-.141-.004-.283-.01-.424a6.658 6.658 0 0 0 1.638-1.7z"></path>
    </symbol>
    <symbol id="icon-instagram">
        <path d="M8 3.839a4.137 4.137 0 0 0-4.129 4.129A4.116 4.116 0 0 0 8 12.097a4.137 4.137 0 0 0 4.129-4.13c0-2.257-1.87-4.128-4.129-4.128zm0 6.774a2.657 2.657 0 0 1-2.645-2.645A2.657 2.657 0 0 1 8 5.323a2.657 2.657 0 0 1 2.645 2.645A2.657 2.657 0 0 1 8 10.613zm4.29-5.936a.935.935 0 1 0 0-1.87.935.935 0 0 0 0 1.87zm2.42-3.354C13.87.452 12.677 0 11.323 0H4.677C1.871 0 0 1.871 0 4.677v6.613c0 1.387.452 2.581 1.355 3.452C2.225 15.58 3.387 16 4.71 16h6.58c1.387 0 2.549-.452 3.387-1.258.871-.839 1.323-2.032 1.323-3.42V4.678c0-1.354-.452-2.516-1.29-3.354zm-1.065 12.354c-.58.549-1.387.84-2.355.84H4.71c-.968 0-1.775-.291-2.355-.84-.58-.58-.871-1.387-.871-2.387V4.677c0-.967.29-1.774.87-2.354.55-.549 1.388-.84 2.356-.84h6.645c.968 0 1.774.291 2.355.872.548.58.87 1.387.87 2.322v6.646c0 1-.354 1.806-.935 2.354z"></path>
    </symbol>
    <symbol id="icon-youtube">
        <path d="M14.855 2.104A2.1 2.1 0 0 0 12.944.199 61.884 61.884 0 0 0 7.875 0c-2.59 0-4.544.106-5.808.205A2.1 2.1 0 0 0 .144 2.111 33.679 33.679 0 0 0 0 5.281c0 1.25.066 2.306.143 3.11a2.099 2.099 0 0 0 1.923 1.904c1.264.1 3.219.205 5.81.205 2.15 0 3.892-.102 5.068-.2a2.1 2.1 0 0 0 1.911-1.904c.078-.81.145-1.877.145-3.146s-.067-2.337-.145-3.146zm-9.023 5.35V3.046L10.18 5.25 5.832 7.454z"></path>
    </symbol>
    <symbol id="icon-kebab-menu">
        <path d="M2 12c1.105 0 2 .895 2 2s-.895 2-2 2-2-.895-2-2 .895-2 2-2zm0-6c1.105 0 2 .895 2 2s-.895 2-2 2-2-.895-2-2 .895-2 2-2zm0-6c1.105 0 2 .895 2 2s-.895 2-2 2-2-.895-2-2 .895-2 2-2z"></path>
    </symbol>
    <symbol id="icon-play">
        <path d="M3.3 20c0 9.2 7.5 16.7 16.7 16.7s16.7-7.5 16.7-16.7-7.5-16.7-16.7-16.7-16.7 7.5-16.7 16.7zm-3.3 0c0-11 9-20 20-20s20 9 20 20-9 20-20 20-20-9-20-20zm16.2 8.1c-.5-.3-.9-.9-.9-1.5v-13.3c0-.6.3-1.2.9-1.5.5-.3 1.2-.3 1.7.1l10 6.7c.5.3.7.8.7 1.4s-.3 1.1-.7 1.4l-10 6.7c-.3.2-.6.3-.9.3-.3-.1-.5-.1-.8-.3z"></path>
    </symbol>
    <symbol id="icon-heart-outline">
        <path d="M9 16.4l-7.4-7c-2.2-2.2-2.2-5.7 0-7.8 2-2 5.2-2.1 7.4-.4 1-.8 2.2-1.2 3.5-1.2 1.5 0 2.9.6 3.9 1.6s1.6 2.4 1.6 3.9-.6 2.9-1.6 3.9l-7.4 7zm-3.5-14.4c-.9 0-1.8.3-2.5 1-1.3 1.4-1.3 3.6 0 5l6 5.6 6-5.6c.6-.6 1-1.5 1-2.5s-.4-1.8-1-2.5c-1.3-1.3-3.6-1.3-4.9 0-.1.1-.2.1-.2.2l-.9 1.1-.9-1.1-.1-.2c-.7-.7-1.6-1-2.5-1z"></path>
    </symbol>
    <symbol id="icon-heart">
        <path d="M14.7 1.3c-1.8-1.8-4.6-1.8-6.4 0l-.3.4-.3-.4c-1.8-1.8-4.6-1.8-6.4 0s-1.8 4.6 0 6.4l6.7 6.3 6.7-6.3c1.7-1.8 1.7-4.6 0-6.4z"></path>
    </symbol>
    <symbol id="icon-plus">
        <path d="M5 7v5h2v-5h5v-2h-5v-5h-2v5h-5v2h5z"></path>
    </symbol>
    <symbol id="icon-notification">
        <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
    </symbol>
    <symbol id="icon-member-only-content" viewBox="0 0 24 24" width="24" height="24">
        <path d="M0 0h24v24h-24z"></path>
        <path fill="#FFCB30" fill-rule="nonzero"
              d="M11.99 2c-5.52 0-9.99 4.48-9.99 10s4.47 10 9.99 10c5.53 0 10.01-4.48 10.01-10s-4.48-10-10.01-10zm3.23 15.39l-3.22-1.94-3.22 1.94c-.38.23-.85-.11-.75-.54l.85-3.66-2.83-2.45c-.33-.29-.15-.84.29-.88l3.74-.32 1.46-3.45c.17-.41.75-.41.92 0l1.46 3.44 3.74.32c.44.04.62.59.28.88l-2.83 2.45.85 3.67c.1.43-.36.77-.74.54z"></path>
    </symbol>
    <symbol id="icon-users" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </symbol>
    <symbol id="icon-chevron-down" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
        <polyline points="6 9 12 15 18 9"></polyline>
    </symbol>
    <symbol id="icon-trending-up" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
        <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
        <polyline points="17 6 23 6 23 12"></polyline>
    </symbol>
    <symbol id="icon-trending-down" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
        <polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline>
        <polyline points="17 18 23 18 23 12"></polyline>
    </symbol>
    <symbol id="icon-trending-neutral" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
        <line x1="5" y1="12" x2="19" y2="12"></line>
    </symbol>
    <symbol id="icon-watch-together-huge" viewBox="0 0 179 187" width="179px" height="187px">
        <g id="Watch-Together" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Watch-Together-[Empty-State]" transform="translate(-631.000000, -254.000000)">
                <g id="Content" transform="translate(420.000000, 150.000000)">
                    <g id="Asset" transform="translate(197.000000, 104.000000)">
                        <g id="Icon" transform="translate(67.000000, 130.000000)">
                            <g id="Bounding_Boxes">
                                <polygon points="0 0 72 0 72 72 0 72"></polygon>
                            </g>
                            <g id="Duotone" transform="translate(6.000000, 15.000000)" fill-rule="nonzero">
                                <circle id="Oval" fill="#42E3D0" opacity="0.3" cx="21" cy="10.5" r="4.5"></circle>
                                <path d="M8.31,36 L21.15,36 C21.18,35.82 21.51,34.26 22.02,33.03 C21.69,33.03 21.33,33 21,33 C16.41,33 11.25,34.5 8.31,36 Z"
                                      fill="#42E3D0" opacity="0.3"></path>
                                <path d="M21,21 C26.79,21 31.5,16.29 31.5,10.5 C31.5,4.71 26.79,0 21,0 C15.21,0 10.5,4.71 10.5,10.5 C10.5,16.29 15.21,21 21,21 Z M21,6 C23.49,6 25.5,8.01 25.5,10.5 C25.5,12.99 23.49,15 21,15 C18.51,15 16.5,12.99 16.5,10.5 C16.5,8.01 18.51,6 21,6 Z"
                                      fill="#FFFFFF"></path>
                                <path d="M21.15,36 L8.31,36 C11.28,34.5 16.41,33 21,33 C21.33,33 21.69,33.03 22.02,33.03 C23.04,30.84 24.81,29.04 26.94,27.6 C24.75,27.21 22.68,27 21,27 C13.98,27 0,30.51 0,37.5 L0,42 L21,42 L21,37.5 C21,36.99 21.06,36.48 21.15,36 Z"
                                      fill="#FFFFFF"></path>
                                <path d="M43.5,28.5 C37.98,28.5 27,31.53 27,37.5 L27,42 L40.74,42 L60,42 L60,37.5 C60,31.53 49.02,28.5 43.5,28.5 Z"
                                      fill="#FFFFFF"></path>
                                <path d="M47.13,23.04 C49.41,21.75 51,19.32 51,16.5 C51,12.36 47.64,9 43.5,9 C39.36,9 36,12.36 36,16.5 C36,19.32 37.59,21.75 39.87,23.04 C40.95,23.64 42.18,24 43.5,24 C44.82,24 46.05,23.64 47.13,23.04 Z"
                                      fill="#FFFFFF"></path>
                            </g>
                        </g>
                        <g id="Dashes" transform="translate(0.000000, 84.000000)" stroke="#FFFFFF"
                           stroke-dasharray="4,8" stroke-linecap="round" stroke-width="2">
                            <path d="M68.0579711,12.740769 C17.029921,13.7876379 -0.880918797,31.9905321 14.3254517,67.3494516"
                                  transform="translate(38.573356, 40.045110) rotate(-60.000000) translate(-38.573356, -40.045110) "></path>
                            <path d="M198.057971,12.740769 C147.029921,13.7876379 129.119081,31.9905321 144.325452,67.3494516"
                                  transform="translate(168.573356, 40.045110) scale(-1, 1) rotate(-60.000000) translate(-168.573356, -40.045110) "></path>
                        </g>
                        <g id="TV-Icon" transform="translate(53.000000, 0.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <path d="M3.84615385,27.8846154 L3.84615385,96.1538462 L96.1538462,96.1538462 L96.1538462,27.8846154 L3.84615385,27.8846154 Z M45.3572816,24.0384615 L24.6017177,3.28289766 C23.8507095,2.5318894 23.8507095,1.31426444 24.6017177,0.56325619 C25.352726,-0.187752063 26.5703509,-0.187752063 27.3213592,0.56325619 L50,23.241897 L72.6786408,0.56325619 C73.4296491,-0.187752063 74.647274,-0.187752063 75.3982823,0.56325619 C76.1492905,1.31426444 76.1492905,2.5318894 75.3982823,3.28289766 L54.6427184,24.0384615 L96.1538462,24.0384615 C98.2780183,24.0384615 100,25.7604433 100,27.8846154 L100,96.1538462 C100,98.2780183 98.2780183,100 96.1538462,100 L3.84615385,100 C1.72198173,100 2.13504428e-16,98.2780183 0,96.1538462 L0,27.8846154 C-4.27008856e-16,25.7604433 1.72198173,24.0384615 3.84615385,24.0384615 L45.3572816,24.0384615 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>
    <symbol id="icon-tv" viewBox="0 0 640 512">
        <path fill="currentColor"
              d="M592 0H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h245.1v32h-160c-17.7 0-32 14.3-32 32s14.3 32 32 32h384c17.7 0 32-14.3 32-32s-14.3-32-32-32h-160v-32H592c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-16 352H64V64h512v288z"></path>
    </symbol>
    <symbol id="icon-home-new" viewBox="0 0 24 24">
        <path d="M10,21 L10,16 L14,16 L14,21 C14,21.55 14.45,22 15,22 L18,22 C18.55,22 19,21.55 19,21 L19,14 L20.7,14 C21.16,14 21.38,13.43 21.03,13.13 L12.67,5.6 C12.29,5.26 11.71,5.26 11.33,5.6 L2.97,13.13 C2.63,13.43 2.84,14 3.3,14 L5,14 L5,21 C5,21.55 5.45,22 6,22 L9,22 C9.55,22 10,21.55 10,21 Z"></path>
    </symbol>
    <symbol id="icon-discover-new" viewBox="0 0 24 24">
        <path d="M12,11.9 C11.39,11.9 10.9,12.39 10.9,13 C10.9,13.61 11.39,14.1 12,14.1 C12.61,14.1 13.1,13.61 13.1,13 C13.1,12.39 12.61,11.9 12,11.9 Z M12,3 C6.48,3 2,7.48 2,13 C2,18.52 6.48,23 12,23 C17.52,23 22,18.52 22,13 C22,7.48 17.52,3 12,3 Z M14.19,15.19 L6,19 L9.81,10.81 L18,7 L14.19,15.19 Z"></path>
    </symbol>
    <symbol id="icon-trending-new" viewBox="0 0 24 24">
        <path d="M16.85,7.85 L18.29,9.29 L13.41,14.17 L10.12,10.88 C9.73,10.49 9.1,10.49 8.71,10.88 L2.71,16.89 C2.32,17.28 2.32,17.91 2.71,18.3 C3.1,18.69 3.73,18.69 4.12,18.3 L9.41,13 L12.7,16.29 C13.09,16.68 13.72,16.68 14.11,16.29 L19.7,10.71 L21.14,12.15 C21.45,12.46 21.99,12.24 21.99,11.8 L21.99,7.5 C22,7.22 21.78,7 21.5,7 L17.21,7 C16.76,7 16.54,7.54 16.85,7.85 L16.85,7.85 Z"></path>
    </symbol>
    <symbol id="icon-calendar-new" viewBox="0 0 24 24">
        <path d="M20,3 L19,3 L19,2 C19,1.45 18.55,1 18,1 C17.45,1 17,1.45 17,2 L17,3 L7,3 L7,2 C7,1.45 6.55,1 6,1 C5.45,1 5,1.45 5,2 L5,3 L4,3 C2.9,3 2,3.9 2,5 L2,21 C2,22.1 2.9,23 4,23 L20,23 C21.1,23 22,22.1 22,21 L22,5 C22,3.9 21.1,3 20,3 Z M19,21 L5,21 C4.45,21 4,20.55 4,20 L4,8 L20,8 L20,20 C20,20.55 19.55,21 19,21 Z"></path>
    </symbol>
    <symbol id="icon-tv-new" viewBox="0 0 24 24">
        <path d="M9.58578644,6 L6.29289322,2.70710678 C5.90236893,2.31658249 5.90236893,1.68341751 6.29289322,1.29289322 C6.68341751,0.902368927 7.31658249,0.902368927 7.70710678,1.29289322 L12,5.58578644 L16.2928932,1.29289322 C16.6834175,0.902368927 17.3165825,0.902368927 17.7071068,1.29289322 C18.0976311,1.68341751 18.0976311,2.31658249 17.7071068,2.70710678 L14.4142136,6 L20,6 C21.6568542,6 23,7.34314575 23,9 L23,20 C23,21.6568542 21.6568542,23 20,23 L4,23 C2.34314575,23 1,21.6568542 1,20 L1,9 C1,7.34314575 2.34314575,6 4,6 L9.58578644,6 Z M4,8 C3.44771525,8 3,8.44771525 3,9 L3,20 C3,20.5522847 3.44771525,21 4,21 L20,21 C20.5522847,21 21,20.5522847 21,20 L21,9 C21,8.44771525 20.5522847,8 20,8 L4,8 Z"></path>
    </symbol>
    <symbol id="icon-film-new" viewBox="0 0 24 24">
        <path d="M18,5 L19.82,8.64 C19.9,8.8 19.78,9 19.6,9 L17.62,9 C17.24,9 16.89,8.79 16.73,8.45 L15,5 L13,5 L14.82,8.64 C14.9,8.8 14.78,9 14.6,9 L12.62,9 C12.24,9 11.89,8.79 11.73,8.45 L10,5 L8,5 L9.82,8.64 C9.9,8.8 9.78,9 9.6,9 L7.62,9 C7.24,9 6.89,8.79 6.72,8.45 L5,5 L4,5 C2.9,5 2,5.9 2,7 L2,19 C2,20.1 2.9,21 4,21 L20,21 C21.1,21 22,20.1 22,19 L22,6 C22,5.45 21.55,5 21,5 L18,5 Z"></path>
    </symbol>
    <symbol id="icon-comment-new" viewBox="0 0 24 24">
        <path d="M20,4 L4,4 C2.9,4 2.01,4.9 2.01,6 L2,24 L6,20 L20,20 C21.1,20 22,19.1 22,18 L22,6 C22,4.9 21.1,4 20,4 Z M7,11 L17,11 C17.55,11 18,11.45 18,12 C18,12.55 17.55,13 17,13 L7,13 C6.45,13 6,12.55 6,12 C6,11.45 6.45,11 7,11 Z M13,16 L7,16 C6.45,16 6,15.55 6,15 C6,14.45 6.45,14 7,14 L13,14 C13.55,14 14,14.45 14,15 C14,15.55 13.55,16 13,16 Z M17,10 L7,10 C6.45,10 6,9.55 6,9 C6,8.45 6.45,8 7,8 L17,8 C17.55,8 18,8.45 18,9 C18,9.55 17.55,10 17,10 Z">
        </path>
    </symbol>
    <symbol id="icon-collections-new" viewBox="0 0 24 24">
        <path d="M12,3 C6.48,3 2,7.48 2,13 C2,18.52 6.48,23 12,23 C17.52,23 22,18.52 22,13 C22,7.48 17.52,3 12,3 Z M12,17.5 C9.51,17.5 7.5,15.49 7.5,13 C7.5,10.51 9.51,8.5 12,8.5 C14.49,8.5 16.5,10.51 16.5,13 C16.5,15.49 14.49,17.5 12,17.5 Z M12,12 C11.45,12 11,12.45 11,13 C11,13.55 11.45,14 12,14 C12.55,14 13,13.55 13,13 C13,12.45 12.55,12 12,12 Z">
        </path>
    </symbol>
    <symbol id="icon-users-new" viewBox="0 0 24 24">
        <path d="M16.5,12 C17.88,12 18.99,10.88 18.99,9.5 C18.99,8.12 17.88,7 16.5,7 C15.12,7 14,8.12 14,9.5 C14,10.88 15.12,12 16.5,12 Z M9,11 C10.66,11 11.99,9.66 11.99,8 C11.99,6.34 10.66,5 9,5 C7.34,5 6,6.34 6,8 C6,9.66 7.34,11 9,11 Z M16.5,14 C14.67,14 11,14.92 11,16.75 L11,18 C11,18.55 11.45,19 12,19 L21,19 C21.55,19 22,18.55 22,18 L22,16.75 C22,14.92 18.33,14 16.5,14 Z M9,13 C6.67,13 2,14.17 2,16.5 L2,18 C2,18.55 2.45,19 3,19 L9,19 L9,16.75 C9,15.9 9.33,14.41 11.37,13.28 C10.5,13.1 9.66,13 9,13 Z"></path>
    </symbol>
</svg>
</body>

</html>